<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hello, World</title>
  </head>
  <body>
    <div class="w-full h-screen">
      <div
        class="w-[1200px] h-[630px] bg-black flex items-center justify-center border-8 border-[#3ec4db]"
      >
        <h1 class="text-[#3ec4db] text-6xl font-bold">Hello, World!</h1>
      </div>
    </div>
  </body>
</html>
