---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meta image generator" image="/index.png">
  <main
    class="w-full h-screen flex items-center justify-center text-6xl font-bold"
  >
    Hello, World!
  </main>
</Layout>
